@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, &#128522;</h1>

<h2>Welcome to the App</h2>

<h3>
    Please Click on <b>Counter</b> on the left for the first task
</h3>

<h3>
    Please Click on <b>Books</b> on the left for the second task
</h3>